/*----------------------------------< COLORS >-----------------------------------------*/
$main-color: #f1fbff;
$main-color-600: #f1fbff60;
$sec-color: #90caf9;
$third-color: #f28691;
$light-txt-color: #fff;
$light-txt-color-600: #fff;
$dark-txt-color: #3a4856;
$dark-txt-color-600: #3a485660;
$dark-txt-color-300: #3a485630;
/*----------------------------------< FONTS >-----------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");
$ff-main: "Roboto Mono", monospace;
$ff-sec: "Ubuntu Mono", monospace;
/*----------------------------------< FONTS >-----------------------------------------*/
$border-radius: 30px;
